extends layout

block content   
    h5 #{data.name} 
    p #{data.text}
    //- hr
    //- a.btn.btn-primary(href="/articles/edit/" +article._id) Edit
    //- a.btn.btn-danger.delete-article(href="#", data-id=article._id) Delete