extends layout

block content   
    h5 #{data.name} 
    p #{data.text}
    //- hr
    a.btn.btn-primary(href="/data/edit/" +data._id) Edit
    a.btn.btn-danger.delete-data(href="#",data-id=data._id) Delete