extends layout

block content

 form(method='POST', action='/data/edit/'+ data._id)
  .form-group
    label Name:
    input.form-control(name='name', type='text', value=data.name)
  .form-group
    label Text:
    input.form-control(name='text', type='text', value=data.text)
    
  button.btn.btn-success(type='submit') Submit
