doctype html
html
 head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')

  title Hello, world!
 body
    .container 
      nav.navbar.navbar-expand-lg.navbar-light.bg-dark
        a.navbar-brand.text-white(href='/') myForm
            #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
            span.sr-only (current)
            a.nav-item.nav-link.text-white(href='/') Home
            a.nav-item.nav-link.text-white(href='/data/add') Add Data
            

      h1 #{title}
      block content










// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS

script(src='/jquery/dist/jquery.js')  
script(src='/bootstrap/dist/js/bootstrap.js')
script(src="/js/main.js")
